<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Klijenti</title>
</head>
<body>
<nav>
    <a href="/trainers">Trainers</a> |
    <a href="/exercises">Exercises</a> |
    <a href="/clients">Clients</a>
</nav>

<h2>Clients:</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Goal</th>
        <th>Trainer</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${clients}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.age}"></td>
        <td th:text="${c.goal}"></td>
        <td th:text="${c.trainer != null ? c.trainer.name : 'Nema trenera'}"></td>
        <td>
            <a th:href="@{/clients/edit/{id}(id=${c.id})}">Edit</a> |
            <a th:href="@{/clients/delete/{id}(id=${c.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<hr/>

<h3 th:text="${client.id == null ? 'Add client' : 'Edit client'}"></h3>

<form th:action="@{${client.id == null} ? '/clients/save' : '/clients/update/' + ${client.id}}"
      th:object="${client}" method="post">

    <label>Name:</label>:</label>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <label>Age:</label>
    <input type="number" th:field="*{age}" required/><br/><br/>

    <label>Goal:</label>
    <input type="text" th:field="*{goal}" required/><br/><br/>

    <label>Trainer:</label>
    <select name="trainerId" required>
        <option th:each="t : ${trainers}" th:value="${t.id}" th:text="${t.name}"></option>
    </select><br/><br/>

    <button type="submit">Save</button>
</form>

</body>
</html>
